body{
  background-color: #efeee7;
  font-family: "Georgia", "Times";
  line-height: 150%;
  font-size: 18px;
  margin:0;
}

h1{
   background-color: #444; 
   margin:0px;
 -webkit-text-fill-color: white;
 text-align: center;
 font-size: 24px;
 
    padding: 15px;
 /* added changes to the heading   
    */
   
}
h2{
  background-color: efeee7;
  padding: 2px;
  margin: 0px;
  font-size: 18px;
}
a{
  color:#d21039;
}

/* flex container logic */    /* We first create a flex layout context */
  .container {
    display: flex;
  
    /*wraps text and displays as a row */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
  }
  

.sub-container {
  flex: 1;
  margin: auto;
  padding: 0;
  margin:0;
  background-color: #f5eeee;
  align-self: auto;

}
footer{
    background-color: grey;
}
#bio-image{
  height: 200px;
  width: 200px;
  float: left;
  margin: 20px;
}
 